.em-logo {
  width: 35px !important;
}
.pagination {
  --bs-pagination-active-bg: #7e49fa !important;
  --bs-pagination-active-border-color: #7e49fa !important;
}
.personalTitle {
  color: #8059b3;
}
